<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content API /mycollections/{0}/content_list Example</title>

    <style>
        .prettyprint {
            outline: 1px solid #ccc;
            padding: 5px;
            margin: 20px;
            max-height: 200px;
            line-height: 1.2;
            overflow-y: auto;
            overflow-x: auto;
        }
    </style>

</head>

<body>

    <p><a href="/">Start Over</a></p>
    <p>Successful!</p>
    <p>Your <b>{{endpoint_path}}</b> endpoint response:</p>
    <pre id="output" class="prettyprint">{{mycollections_id_content_list_results}}</pre>

    <p>Additional collection endpoints:</p>
    <div>
        <ul style="list-style: none;">
            <li>Return a list of all my team collections:  <a href="/query-collection-mycollections?access_token={{access_token}}">/mycollections</a></li>
            <li>Return details for this team collection only:  <a href="/query-collection-mycollections/{{mycollections_id_content_list_results_obj['content_list'][0].collection_id}}?access_token={{access_token}}">/mycollections/{{mycollections_id_content_list_results_obj['content_list'][0].collection_id}}</a></li>
        </ul>
    </div>

    <p>Other endpoints:</p>
    <div>
        <ul style="list-style: none;">
            <li>Return a list of all my dashboard content:  <a href="/query-collection-myhuman?access_token={{access_token}}">/myhuman</a></li>
        </ul>
    </div>

</body>

</html>